

body {
  margin: 0;
  padding: 2rem;
  font-family: sans-serif;

  background-image: url(./bg.jpg);
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

  }




  
  li{
    list-style-type: none;
  }
 
  .default-style{
    color: white;
    font-size: 2em;
    }
  .default-style:hover{
    text-decoration: none;
    color:white
  }
  .active-style{
    color: #2196f7;
  }
  .active-style:hover{
    color: #2196f7;
  }
  .services{
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item{
    display:flex;
    flex-direction: column;
    
    align-items: flex-start

  }
  